In [1]:
import pandas as pd

In [2]:
data_types_broken ={
    "lfd. Nr." : str,
    "PLZ" : str	,
    "Ort": str,
    "Straße" : str,
    "Nr" : str,
    "Geschäftsbereich (Art der Liegenschaft)" : "category",
    "Bezeichnung Branche/Nutzer" : "category",
    "Objektfläche m²": str
}

In [3]:
column_names = ["lfd. Nr.","PLZ","Ort","Straße","Nr","Geschäftsbereich (Art der Liegenschaft)","Bezeichnung Branche/Nutzer","Objektfläche m²"]

In [4]:
df = pd.read_excel("Anlage.xlsx",verbose=True,dtype=str)

Reading sheet 0

/opt/homebrew/Caskroom/miniforge/base/envs/py38/lib/python3.8/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [5]:
assert df.shape[0]==180188, "Rows got dropped!"
assert df.shape[1]==8, "Columns got dropped!"

In [6]:
df.head(10)

,lfd. Nr.,PLZ,Ort,Straße,Nr,Geschäftsbereich (Art der Liegenschaft),Bezeichnung Branche/Nutzer,Objektfläche m²
0,1,24799,Owschlag,NaN,NaN,Bundesforst,NaN,1922
1,2,59494,Soest,NaN,NaN,Bundesforst,NaN,45000
2,3,81549,München,Cincinnati/Wikinger/Leif/Penn/Lincoln/Minnewit...,NaN,Wohnen,NaN,0
3,4,81549,München,Minnewitstr. 12,(350 A8),Wohnen,NaN,72
4,5,81549,München,Cincinnatistr. 59,Wgh. 3-6,Wohnen,NaN,77.45
5,6,52074,"Aachen, Stadt",Finkenhang 31,NaN,Wohnen,NaN,85
6,7,81549,München,Leifstr. 1,(311 A5),Wohnen,NaN,112.4
7,8,82487,Oberammergau,Aufackerstraße,1/3/5,Wohnen,NaN,0
8,9,82487,Oberammergau,Aufackerstraße,6/8,Wohnen,NaN,0
9,10,56068,"Koblenz, Stadt","Hozo 84/86,88/90, St. Josef 27-31",NaN,Wohnen,NaN,12

## 1. Strip whitespaces

In [7]:
# https://stackoverflow.com/questions/40950310/strip-trim-all-strings-of-a-dataframe
df_obj = df.select_dtypes(['object'])
df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

In [8]:
df

,lfd. Nr.,PLZ,Ort,Straße,Nr,Geschäftsbereich (Art der Liegenschaft),Bezeichnung Branche/Nutzer,Objektfläche m²
0,1,24799,Owschlag,NaN,NaN,Bundesforst,NaN,1922
1,2,59494,Soest,NaN,NaN,Bundesforst,NaN,45000
2,3,81549,München,Cincinnati/Wikinger/Leif/Penn/Lincoln/Minnewit...,NaN,Wohnen,NaN,0
3,4,81549,München,Minnewitstr. 12,(350 A8),Wohnen,NaN,72
4,5,81549,München,Cincinnatistr. 59,Wgh. 3-6,Wohnen,NaN,77.45
...,...,...,...,...,...,...,...,...
180183,180184,98527,"Suhl, Stadt",Friedrich-König-Straße,NaN,Gewerbe/sonst. Nutzung,NaN,986
180184,180185,16278,"Angermünde, Stadt",Rudolf-Breitscheid-Straße,NaN,Gewerbe/sonst. Nutzung,NaN,2212
180185,180186,15234,Frankfurt (Oder),Traubenweg 18,NaN,Gewerbe/sonst. Nutzung,NaN,2716
180186,180187,45219,Essen,Ringstraße 199,NaN,Gewerbe/sonst. Nutzung,NaN,3892
180187,180188,08525,Plauen,Alte Jößnitzer Straße,30,Gewerbe/sonst. Nutzung,NaN,16097.99

## 2. Check for broken postal codes

In [9]:
df_broken_postalcode = df[df["PLZ"].fillna(-1).str.strip().str.len() > 5]
df_broken_postalcode

Empty DataFrame
Columns: [lfd. Nr., PLZ, Ort, Straße, Nr, Geschäftsbereich (Art der Liegenschaft), Bezeichnung Branche/Nutzer, Objektfläche m²]
Index: []

In [10]:
# Nothing broken when importing directly from the xls file

### 3. Check ldf Nr

In [11]:
df[df["lfd. Nr."].isnull()]

Empty DataFrame
Columns: [lfd. Nr., PLZ, Ort, Straße, Nr, Geschäftsbereich (Art der Liegenschaft), Bezeichnung Branche/Nutzer, Objektfläche m²]
Index: []

In [12]:
# No IDs missing when importing from excel

### 4. Check catgories

In [13]:
df["Geschäftsbereich (Art der Liegenschaft)"].value_counts()

Dienstliegenschaften Bundeswehr    65020
Wohnen                             53977
Gewerbe/sonst. Nutzung             33889
Dienstliegenschaften               19369
Bundesforst                         7329
Verwaltungsaufgaben                  604
Name: Geschäftsbereich (Art der Liegenschaft), dtype: int64

In [14]:
# All there! Good

### 5. Check Bezeichnung Branche/Nutzer

In [15]:
df["Bezeichnung Branche/Nutzer"].value_counts()

0                       61301
BMVg.-Unterbringung     33545
Bundesanstalt THW        3099
Generalzolldirektion     2917
Bundespolizei            2054
                        ...
BA kernt. EntsorgSic        1
Sonst. Bewilligungen        1
Bilat. Zusammenarb.         1
Energie u. Nachhalti        1
KVdB                        1
Name: Bezeichnung Branche/Nutzer, Length: 105, dtype: int64

In [16]:
df["Bezeichnung Branche/Nutzer"] = df["Bezeichnung Branche/Nutzer"].fillna("Unbekannt")
df["Bezeichnung Branche/Nutzer"] = df["Bezeichnung Branche/Nutzer"].replace("0", "Unbekannt")

In [17]:
df["Bezeichnung Branche/Nutzer"].value_counts()

Unbekannt               132836
BMVg.-Unterbringung      33545
Bundesanstalt THW         3099
Generalzolldirektion      2917
Bundespolizei             2054
                         ...
BA kernt. EntsorgSic         1
Sonst. Bewilligungen         1
Bilat. Zusammenarb.          1
Energie u. Nachhalti         1
KVdB                         1
Name: Bezeichnung Branche/Nutzer, Length: 105, dtype: int64

### 6. Convert data types

In [18]:
df["PLZ"] = df["PLZ"].str.strip()
df["PLZ"] = pd.to_numeric(df["PLZ"]).astype(pd.Int64Dtype()) # Don't ask :D

In [19]:
df["lfd. Nr."] = df["lfd. Nr."].astype(int)

In [20]:
df["Objektfläche m²"] = pd.to_numeric(df["Objektfläche m²"])

#### 7. Save Results

In [21]:
df.to_csv("Anlage.csv",index=False)

In [22]:
df.to_parquet("Anlage.parquet")